<IfModule !mod_authz_core.c>
  Order deny,allow
  Deny from all

  <FilesMatch "\.(js|css|htc|png|gif|jpe?g|ico|swf|flv|mp4|webm|ogv|mp3|ogg|oga|eot|otf|tt[cf]|woff|svg|svgz)$">
    Order allow,deny
    Allow from all
  </FilesMatch>
</IfModule>

<IfModule mod_authz_core.c>
  Require all denied

  <FilesMatch "\.(js|css|htc|png|gif|jpe?g|ico|swf|flv|mp4|webm|ogv|mp3|ogg|oga|eot|otf|tt[cf]|woff|svg|svgz)$">
    Require all granted
  </FilesMatch>
</IfModule>